{% extends 'base.html' %}
{% block content %}
<div id="head1">
<div id="head1inside">
    <br><br><br><br><br>
     <section id="head1section">
        <h1 id="head1h1">Welcome to Prime Video </h1>
        <br><br><br>
        <p id="head1p" style="font-weight: 500;">Watch the latest movies, TV shows and award-winning Amazon <br> Originals</p>
        <br><br>
        <button id="head1but">Join Prime Annual at ₹125/month* </button><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; *when paid annually <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <span style="text-decoration: underline;">ⓘ Plan details</span><br><br>
        <button id="head1but">Join Prime Annual at ₹67/month* </button><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; *when paid annually <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <span style="text-decoration: underline;">ⓘ Plan details</span><br><br>
        <button id="head1but">View all plans</button><br><br>
      </section>
</div>
</div>
<div id="head2">
   <div id="head1inside"><br><br><br><br><br><br>
      <h1 id="head1h1" style="margin-left:10%;">Movie rentals on Prime <br> Video</h1><br><br>
      <p id="head1p" style="font-weight: 600;margin-left:10%;">Early Access to new movies, before digital subctriction</p><br><br>
      <button id="head1but" style="margin-left:10%; width: 20%;">Rent now</button><br><br>
   </div>
</div>
<div id="princy">
   
</div>

{% endblock content %}


